.nav-item img {
    max-height: 2.5rem!important;
}
.ui-rangeSlider-bar {
    background: #00d1b2!important;
}


@keyframes ring {0% {transform: rotateZ(0deg);}
  1% {transform: rotateZ(30deg);}
  3% {
      transform: rotateZ(-28deg);
  }
  5% {
      transform: rotateZ(34deg);
  }
  7% {
      transform: rotateZ(-32deg);
  }
  9% {
      transform: rotateZ(30deg);
  }
  11% {
      transform: rotateZ(-28deg);
  }
  13% {
      transform: rotateZ(26deg);
  }
  15% {
      transform: rotateZ(-24deg);
  }
  17% {
      transform: rotateZ(22deg);
  }
  19% {
      transform: rotateZ(-20deg);
  }
  21% {
      transform: rotateZ(18deg);
  }
  23% {
      transform: rotateZ(-16deg);
  }
  25% {
      transform: rotateZ(14deg);
  }
  27% {
      transform: rotateZ(-12deg);
  }
  29% {
      transform: rotateZ(10deg);
  }
  31% {
      transform: rotateZ(-8deg);
  }
  33% {
      transform: rotateZ(6deg);
  }
  35% {
      transform: rotateZ(-4deg);
  }
  37% {
      transform: rotateZ(2deg);
  }
  39% {
      transform: rotateZ(-1deg);
  }
  41% {
      transform: rotateZ(1deg);
  }
  43% {
      transform: rotateZ(0deg);
  }
  100% {
      transform: rotateZ(0deg);
  }
}
@keyframes ring {
  0% {
      transform: rotate(0deg);
  }
  1% {
      transform: rotate(30deg);
  }
  3% {
      transform: rotate(-28deg);
  }
  5% {
      transform: rotate(34deg);
  }
  7% {
      transform: rotate(-32deg);
  }
  9% {
      transform: rotate(30deg);
  }
  11% {
      transform: rotate(-28deg);
  }
  13% {
      transform: rotate(26deg);
  }
  15% {
      transform: rotate(-24deg);
  }
  17% {
      transform: rotate(22deg);
  }
  19% {
      transform: rotate(-20deg);
  }
  21% {
      transform: rotate(18deg);
  }
  23% {
      transform: rotate(-16deg);
  }
  25% {
      transform: rotate(14deg);
  }
  27% {
      transform: rotate(-12deg);
  }
  29% {
      transform: rotate(10deg);
  }
  31% {
      transform: rotate(-8deg);
  }
  33% {
      transform: rotate(6deg);
  }
  35% {
      transform: rotate(-4deg);
  }
  37% {
      transform: rotate(2deg);
  }
  39% {
      transform: rotate(-1deg);
  }
  41% {
      transform: rotate(1deg);
  }
  43% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
@keyframes ring {
  0% {
      transform: rotate(0deg);
  }
  1% {
      transform: rotate(30deg);
  }
  3% {
      transform: rotate(-28deg);
  }
  5% {
      transform: rotate(34deg);
  }
  7% {
      transform: rotate(-32deg);
  }
  9% {
      transform: rotate(30deg);
  }
  11% {
      transform: rotate(-28deg);
  }
  13% {
      transform: rotate(26deg);
  }
  15% {
      transform: rotate(-24deg);
  }
  17% {
      transform: rotate(22deg);
  }
  19% {
      transform: rotate(-20deg);
  }
  21% {
      transform: rotate(18deg);
  }
  23% {
      transform: rotate(-16deg);
  }
  25% {
      transform: rotate(14deg);
  }
  27% {
      transform: rotate(-12deg);
  }
  29% {
      transform: rotate(10deg);
  }
  31% {
      transform: rotate(-8deg);
  }
  33% {
      transform: rotate(6deg);
  }
  35% {
      transform: rotate(-4deg);
  }
  37% {
      transform: rotate(2deg);
  }
  39% {
      transform: rotate(-1deg);
  }
  41% {
      transform: rotate(1deg);
  }
  43% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
.bell-icon {
  animation: 6s ease-in-out 0.5s normal none 3 paused ring;
  font-size: 12em!important;
  opacity: 0.1;
  position: absolute;
  top: 5px;
  transform-origin: 50% 4px 0;
}

.is-black {
  background-color: black!important;
}
.card.is-warning {
  background-color: #ffdd57;
  border: 0.3px solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  border-radius:5px;
}
.card.is-light {
  background-color: whitesmoke;
  border: 0.3px solid #363636;
  color: #363636;
  border-radius: 5px;
}
.button.is-very-large {
  font-size: 2.5rem;
}
.styled-hr {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
.nav-item {
  font-size: 0.8rem;
}
.bold {
  font-weight: bold;
}
.font-20 {font-size: 20px!important;}
.font-30 {font-size: 30px!important;}
.font-35 {font-size: 35px!important;}
.font-40 {font-size: 40px!important;}
.text-center {
  text-align: center!important;
}
.color-info {
  color: #3273dc;
}
.color-success {
  color: #23d160;
}
.bgcolor-info {
  background-color: #3273dc;
}
.bgcolor-sucess {
  background-color: #23d160;
}
.block-center {
  display: block;
  margin: auto;
}
.full-height {height: 100%!important;}
/*Width*/
.full-width {width: 100%!important;}
.width-50 {width: 50%!important;}
.width-25 {width: 25%!important;}
.width-20 {width: 20%!important;}

/*Flex*/
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.question-totem{    
    -webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;}
.button:focus, .button:active{outline: 0px none !important;}
button::-moz-focus-inner {border: 0;}
.color-primary {background-color:#00d1b2!important;border-color:#00d1b2!important;color:white!important;outline:0px none !important;}
/*Margin*/
.margin-auto {margin: auto;}
.no-margin {margin: 0!important;}
.no-margin-top {margin-top: 0!important;}
.no-margin-bottom {margin-bottom: 0!important;}
.margin-5 {margin: 5px!important;}
.margin-10 {margin: 10px!important;}
.margin-20 {margin: 20px!important;}
.margin-top-5 {margin-top:5px!important;}
.margin-top-10 {margin-top: 10px!important;}
.margin-top-20 {margin-top: 20px!important;}
.margin-bottom-10 {margin-bottom: 10px!important;}
.margin-bottom-20 {margin-bottom: 20px!important;}
.margin-left-20 {margin-left: 20px;}
.margin-left-10 {margin-left:10px!important;}
/*Padding*/
.no-padding {padding: 0!important;}
.no-padding-top {padding-top: 0!important;}
.no-padding-bottom {padding-bottom: 0!important;}
.padding-10 {padding: 10px!important;}
.padding-20 {padding: 20px!important;}
.padding-30 {padding: 30px!important;}
.padding-bottom-10 {padding-bottom: 10px!important;}
.padding-bottom-20 {padding-bottom: 20px!important;}
.padding-left-10 {padding-left:10px!important;}
.padding-right-10 {padding-right: 10px!important;}

/*Module tag*/
.module {
  position: absolute;
  right: 2%;
  top: 65px;
}
.ui-rangeSlider-label-inner {
    z-index: 1!important;
}
/*Custom Tooltip*/
/*
button.tooltip:hover{
	 border-bottom: 1px dashed #7a7a7a;
	 text-decoration: none;
	 color: #7a7a7a;
	 z-index: 25
}*/
.tooltip p{
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
}
.tooltip:hover p {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(10, 10, 10, 0.1), 0 0 0 2px rgba(10, 10, 10, 0.1);
  position: absolute;
  color: #363636;
  display: block;
  padding: 3px;
  width: auto;
  min-width: 100%;
  top:2em;
  left:0em;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
  opacity: 1;
}

/*Header*/
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
}
.container {
  position: initial;
}
/*Ticket*/
.last_calls_td{
  font-size: 40px;
  padding: 0px!important;
  margin: auto;
  text-align: center;
}

.dataTables_wrapper::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.dataTables_wrapper {
    clear: both;
    position: relative;
}

.dataTables_wrapper .paginate_button {
    -moz-appearance: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-user-select: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    border-color: #dbdbdb;
    min-width: 2.25em;
    display: inline-flex;
    font-size: 1em;
    height: 2.25em;
    justify-content: center;
    line-height: 1.5;
    margin: 0.25rem;
    padding: calc(0.375em - 1px) 0.5em;
    position: relative;
    text-align: center;
    vertical-align: top;
  }

.dataTables_wrapper .disabled {
    cursor: not-allowed;
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: 0.5;
  }

.dataTables_wrapper .current {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    padding-left: 0.55em;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    padding-left: 0.55em;
}


/*New color Orange*/
/*
.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #fcb040;
    color: #fcb040;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom-color: #fcb040;
    border-top-color: transparent;
}
a{
    color: #e69620;
    font-weight: 500;
}
.button.is-primary {
    background-color: #fcb040;
    border-color: transparent;
}
.button.is-primary:active, .button.is-primary.is-active {
    background-color: #fcb040;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #fff;
}
.button.is-primary:focus, .button.is-primary.is-focused {
    border-color: transparent;
    box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
    color: #fff;
}
.button:focus, .button.is-focused {
    border-color: #fcb040;
    box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
    color: #363636;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #fcb040;
    border-color: transparent;
    color: #fff;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #fcb040;
}
.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
    border-color: #fcb040;
}
.select::after {
    border: 1px solid #fcb040;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
}
.tabs li.is-active a {
    color: #fcb040;
}
.dataTables_wrapper .current {
    background-color: #fcb040;
    border-color: #fcb040;
    color: #fff;
}
*/



