
  </div>
    {{if .title}}
      {{if ne .title "Relatório"}}
        <script src="/public/js/jquery-3.2.1.min.js" type="text/javascript"></script>
      {{end}}
    {{end}}

  <script>
    window.onload = function(){ 
      if(/home/.test(location.href) || /login/.test(location.href)){
        $(".menu-home").addClass("is-active");
      } else if(/user/.test(location.href)){
        $(".menu-user").addClass("is-active");
      } else if(/survey/.test(location.href)){
        $(".menu-survey").addClass("is-active");
      } else if(/report/.test(location.href)){
        $(".menu-report").addClass("is-active");
      } 
      
      
      closeNotificationDanger = $("#close-notification-danger");
      if(closeNotificationDanger!=null && closeNotificationDanger!=undefined){
        closeNotificationDanger.click(function(){
          $("#close-notification-danger").parent().css("display","none");
        });
      }
      $(".modal-button").click(function(){
        $(".tooltip p").css('display','none');
        document.querySelector('meta[name="viewport"]').content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
        if(this.dataset.target!='') $("#" + this.dataset.target + ' .modal-title').html(this.dataset.title);
        if(this.dataset.target!='') $("#" + this.dataset.target + ' .modal-description').html(this.dataset.desc);
        if($('.modal-action')!=undefined){
          $('.modal-action').unbind('click');
          $('.modal-action').click(Function(this.dataset.func));
        }
        $('html').addClass("is-clipped");
        $("#" + this.dataset.target).addClass("is-active");
      });

      $(".modal-background").click(function(){
        $("html").removeClass("is-clipped");
        $(this).parent().removeClass("is-active");
        document.querySelector('meta[name="viewport"]').content = 'viewport" content="width=device-width, initial-scale=1';
      });
      $(".modal-close").click(function(){
        $("html").removeClass("is-clipped");
        $(this).parent().removeClass("is-active");
        document.querySelector('meta[name="viewport"]').content = 'viewport" content="width=device-width, initial-scale=1';
      });

      $(".cancel-modal").click(function(){
        $("html").removeClass("is-clipped");
        $(this).parent().parent().parent().removeClass("is-active");
        document.querySelector('meta[name="viewport"]').content = 'viewport" content="width=device-width, initial-scale=1';
      });
    }
  </script>
  {{if .role}}
    {{if eq .role "admin"}}
      <script>
        $(document).ready(function(){
          if($('#days_amount')){
            if($('#days_amount').text()!=''){
              $(".tooltip p").css('display','none');
              document.querySelector('meta[name="viewport"]').content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
              $('html').addClass("is-clipped");
              $("#warning-expiration-modal").addClass("is-active");
            }
          }
        });
      </script>
    {{end}}
  {{end}}
  <div  style="height:10vh;">
    &nbsp;
  </div>
  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <small>
      <p>
        <strong>Pesquisa de Satisfação</strong> by <a target="_blank" href="http://www.bplus.com.br">BPlus Tecnologia</a>.
      </p>
      <p>
        Licenciado para: <strong>{{.licensedTo}}</strong>.
        
      </p>
    </small>
    </div>
  </div>
</footer>
</body>
</html>
