<!--header.html-->

<!doctype html>
<html>

  <head>
    <!--Use the `title` variable to set the title of the page-->
    <title>BPlus - Pesquisa de Satisfação: {{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/public/css/bulma.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
    {{if .title}}
      {{if eq .title "Relatório"}}
        <link rel="stylesheet" href="/public/css/iThing-min.css">
      {{end}}
    {{end}}
  </head>

  <body>

  {{define "modalDelete"}}
    <div id="delete-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
            <b class="title font-20 bold modal-title"></b>
            <p style="padding-bottom:20px;" class="modal-description"></p>
            <button class="button cancel-modal">Cancelar</button>
            <button class="button is-danger modal-action" style="float:right;">Excluir</button>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>
  {{end}}

  <div id="logout-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
          <b class="title font-20 bold modal-title"></b>
          <p style="padding-bottom:20px;" class="modal-description"></p>
          <button class="button cancel-modal">Cancelar</button>
          <button class="button is-danger modal-action" style="float:right;">Sair</button>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>

  <div id="about-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
          <b class="title font-20 bold modal-title">Sobre:</b>
          <p style="padding-bottom:20px;" class="modal-description has-text-centered">
            <b>Pesquisa de Satisfação</b><br/>
            Versão {{.version}}
            <br/>Desenvolvido por <a target="_blank" href="http://www.bplus.com.br">BPlus Tecnologia</a><span class="icon is-small"><i class="fa fa-copyright" aria-hidden="true"></i>
</span>.<br/><a class="" target="_blank" href="http://bplus.com.br/pt-BR/Contato">
            Contato&nbsp;<span class="icon"><i class="fa fa-address-card-o"></i></span>
          </a><br/><br/>
            <img src="/public/img/logo.png" alt="Logo" style="max-width:30%;">
          </p>

          <button class="button cancel-modal block-center">Fechar</button>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>
  <div id="warning-expiration-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
          <b class="title font-20 bold modal-title is-danger">ATENÇÃO:</b>
          <p style="padding-bottom:20px;" class="modal-description has-text-centered">
            A licença do Pesquisa de Satisfação irá expirar em <b id="days_amount">{{.expirationIn}}</b> dias.</br>
            Por favor contate a BPlus Tecnologia para solicitar uma nova licença!
            <br/><br/><a target="_blank" href="http://www.bplus.com.br">BPlus Tecnologia</a><span class="icon is-small"><i class="fa fa-copyright" aria-hidden="true"></i>
</span>.<br/><a class="" target="_blank" href="http://bplus.com.br/pt-BR/Contato">
            Contato&nbsp;<span class="icon"><i class="fa fa-address-card-o"></i></span>
          </a><br/><br/>
            <img src="/public/img/logo.png" alt="Logo" style="max-width:30%;">
          </p>

          <button class="button cancel-modal block-center" style="cursor:pointer;">Fechar</button>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>

  {{define "menu-admin"}}
    <a class="nav-item is-tab {{.}} menu-user" onclick="window.location.href='/u/admin/users';"><span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>&nbsp;Usuários</a>
    <!--a class="nav-item is-tab {{.}} menu-window" onclick="window.location.href='/u/admin/windows';"><span class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>&nbsp;Guichês</a>
    <a class="nav-item is-tab {{.}} menu-service" onclick="window.location.href='/u/admin/services';"><span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span>&nbsp;Serviços</a-->
  {{end}}

  {{define "menu"}}
    <a class="nav-item is-tab {{.}} menu-survey" onclick="window.location.href='/u/surveys';"><span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>&nbsp;Pesquisas</a>
    <a class="nav-item is-tab {{.}} menu-report" onclick="window.location.href='/u/report';"><span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>&nbsp;Relatórios</a>
  {{end}}
  {{define "navbar"}}
    <nav class="nav has-shadow no-margin">
      <div class="container" >
        <div class="nav-left" style="flex-basis:auto;">
          <a class="nav-item" href="/u/home">
            <img src="/public/img/logo_small.png" alt="Logo">
          </a>

          <a class="nav-item is-tab is-hidden-mobile menu-home" href="/u/home"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;Home</a>
          <!--is-hidden-mobile-->
          {{if eq .role "admin"}}
            {{with "is-hidden-mobile"}}{{template "menu-admin" .}}{{end}}
            {{with "is-hidden-mobile"}}{{template "menu" .}}{{end}}
          {{else}}
            {{with "is-hidden-mobile"}}{{template "menu" .}}{{end}}
          {{end}}
        </div>
        <label class="nav-toggle" for="nav-toggle-state">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <input type="checkbox" id="nav-toggle-state"/>
        <div class="nav-right nav-menu" style="flex-basis:auto;">
          <a class="nav-item is-tab is-hidden-tablet menu-home" href="/u/home" target="_self"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;Home</a>
          <!--is-hidden-tablet-->
          {{if eq .role "admin"}}
            {{with "is-hidden-tablet"}}{{template "menu-admin" .}}{{end}}
            {{with "is-hidden-tablet"}}{{template "menu" .}}{{end}}
          {{else}}
            {{with "is-hidden-tablet"}}{{template "menu" .}}{{end}}
          {{end}}
          <a class="nav-item is-tab modal-button" data-target="about-modal"><span class="icon"><i class="fa fa-info-circle"></i></span>&nbsp;Sobre&nbsp;</a>
          <a id="btnlogout" class="nav-item is-tab modal-button" data-target="logout-modal" data-title="Logout:" data-desc="Deseja realmente sair?" data-func="location.href='/u/logout';"><span class="icon"><i class="fa fa-sign-out"></i></span>&nbsp;Logout&nbsp;</a>
        </div>
      </div>
    </nav>
  {{end}}

  <div class="container is-fluid no-margin">

    {{ if .ErrorTitle}}
    <div class="notification is-danger">
      <button class="delete" id="close-notification-danger"></button>
      <b>{{.ErrorTitle}}:</b> {{.ErrorMessage}}
    </div>
    {{end}}

    <script type="text/javascript">
      function ajax(type, url, data, functionOnSuccess, functionOnError){
        $.ajax({
          method: type,
          url: url,
          data: data
        }).done(function( msg ) {
          functionOnSuccess(msg);
        }).fail(function(msg) {
          functionOnError(msg);
        });
      };
    </script>
