{{ template "header.html" .}}
<div class="container is-fluid" style="padding-top:14vh;">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <img src="/public/img/logo.png" class="block-center" alt="Logo" style="max-width:30%;">
    </div>
  </div>
  <div class="columns" >
    <div class="column is-4 is-offset-4">
      <form class="form" action="/u/login" method="POST" target="_self">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="username" type="text" placeholder="Email" required>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="password" type="password" placeholder="Senha" required>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button id="btnlogin" class="button is-success block-center" type="submit">
                Entrar&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
              </button>
            </p>
          </div>

        </form>
    </div>
  </div>
</div>

{{ template "footer.html" .}}
