{{ template "header.html" .}}
{{ template "navbar" .}}
<section class="hero ">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <div id="slider"></div>
            </div>
          </div>
        </div>
    </div>
</section>

<script src="/public/js/Chart.bundle.min.js"></script>
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/jquery-ui.min.js"></script>
<script src="/public/js/jQDateRangeSlider-min.js"></script>
<script src="/public/js/report.js"></script>
<script src="/public/js/jquery.dataTables.min.js"></script>

{{range .generalReport.Surveys}}
<section class="hero ">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <p class="has-text-centered title is-3">{{.SurveyDescription}}</p>
              <div class="flex-row" style="display:block;">
              <!--{{.SurveyInternalID}}-->
              <div class="columns is-multiline">
              {{range .SurveyQuestions}}
                  <div class="column is-6">
                    <span class="is-5 bold">{{.QuestionDescription}}</span>
                    <table class="table is-narrow is-bordered">
                        <thead>
                            <tr>
                              {{range .QuestionOptions}}
                                <th>{{.}}</th>
                              {{end}}
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                          {{range .QuestionOptionsAnswered}}
                            <td>{{.}}</td>
                          {{end}}
                          </tr>
                        </tbody>
                    </table>
                    <canvas id="ChartCanvas_{{.QuestionInternalID}}"  style="width:100%"></canvas>
                    <script>
                      var ctx = document.getElementById("ChartCanvas_{{.QuestionInternalID}}");
                      console.log({{.QuestionOptionsAnswered}});
                      var barChart = new Chart(ctx, {
                        type: 'bar',
                        data: {{.Chart}},
                        options: {
                          responsive: true,
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero:true
                                  }
                              }]
                          }
                        }
                      });
                  </script>
                </div>
              
              {{end}}
              </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </section>
{{end}}

{{ template "footer.html" .}}