{{ template "header.html" .}}
{{template "navbar" .}}
{{if eq .payload.type "list"}}
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p class="has-text-centered title is-2">Pesquisas </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-10 is-offset-1">
        <a type="button" class="button is-primary tooltip"  href="survey/new"><span class="icon is-small"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Nova Pesquisa<p>Cria uma nova pesquisa.</p></a>
        <table class="table is-striped is-narrow">
            <thead>
                <tr>
                    <th width="40%">Descrição</th>
                    <th width="20%">Totem</th>
                    <th width="20%">Criado em</th>
                    <th width="10%">Status</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
            {{range .surveys }}
                <tr id="survey_{{.InternalID}}">
                    <td>{{.Description}}</td>
                    <td>{{.Totem}}</td>
                    <td>{{.CreatedAt}}</td>
                    <td>{{if eq .Active "true"}}Ativa{{else}}Inativa{{end}}</td>
                    <td>
                        <Group class="flex-row margin-auto">
                            <button type="button" class="button is-info tooltip" onclick="location.href='/u/survey/edit/{{.InternalID}}'">&nbsp;&nbsp;<span class="icon"><i class="fa fa-pencil"></i></span><p>Editar</p></button>
                            <button type="button" class="button is-danger modal-button tooltip margin-left-10" data-target="delete-modal" data-title="Exclusão de Pesquisa:" data-desc="Deseja realmente excluir a pesquisa com descrição {{.Description}}?" data-func="ajax('DELETE','/u/survey?surveyInternalID={{.InternalID}}',{'surveyInternalID':'{{.InternalID}}'},function(data){document.getElementById('survey_{{.InternalID}}').remove();$('.cancel-modal').click();},function(data){alert('Não foi possível excluir!');});">&nbsp;&nbsp;<span class="icon"><i class="fa fa-trash"></i></span><p>Excluir</p></button>
                        </Group>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
  </div>
</div>
{{template "modalDelete"}}
{{end}}
{{if eq .payload.type "crud"}}

<div id="new-question-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="width:90%;">
    <div class="box">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <b class="title font-20 bold block-center has-text-centered">Cadastro de Questão:</b>
            <p style="padding-bottom:20px;" class="modal-description has-text-centered">
              <input type="hidden" id="questionIDX" value="">
              <input type="hidden" id="questionInternalID" value="0">
              <div class="field">
                  <label class="label">Pergunta: </label>
                  <p class="control">
                      <input id="questionDescription" class="input" type="text" placeholder="Descrição da pergunta." value="">
                  </p>
              </div>
              <div class="field">
                  <label class="label">Dica: </label>
                  <p class="control">
                      <input id="questionTip" class="input" type="text" placeholder="Breve dica para auxiliar o usuário." value="">
                  </p>
              </div>
            </p>
            
          </div>
        </div>


        <div class="columns"><div class="column is-4 is-offset-4"><label class="label" style="width:auto;float:left;">Opções de Resposta:</label><a type="button" class="button is-primary tooltip modal-button" style="float:right" data-target="new-option-modal" onclick="clearOptionFields();" ><span class="icon is-small"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Nova Opção<p>Cria uma nova opção.</p></a></div></div>
        <div class="columns">
          <div class="column is-10 is-offset-1 box">
              <table class="table is-striped is-narrow">
                  <thead>
                      <tr>
                          <th width="7.5%"></th>
                          <th width="5%">Cor</th>
                          <th width="80%">Opção</th>
                          <th width="7.5%"></th>
                      </tr>
                  </thead>
                  <tbody id="body_tbl_options">

                  </tbody>
              </table>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <button class="button is-primary" style="float:right;" onclick="saveNewQuestion();"><span class="icon is-small"><i class="fa fa-save"></i></span>&nbsp;&nbsp;Salvar</button>
            <button class="button" onclick="closeModal();"><span class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp;&nbsp;Fechar</button>
          </div>
        </div>

    </div>
  </div>
  <button class="modal-close"></button>
</div>


<div id="new-option-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <b class="title font-20 bold block-center has-text-centered">Cadastro de Opção:</b>
            <p style="padding-bottom:20px;" class="modal-description has-text-centered">
              <input type="hidden" id="optionIDX" value="">
              <input type="hidden" id="optionInternalID" value="0">
              <div class="field">
                  <label class="label">Descrição: </label>
                  <p class="control">
                      <input id="optionDescription" class="input" type="text" placeholder="Descrição da opção." value="">
                  </p>
              </div>
              <div class="field">
                  <label class="label">Cor do Fundo: </label>
                  <p class="control">
                      <input id="optionBackgroundColor" class="input" type="color" placeholder="Cor do Fundo" value="#ff0000">
                  </p>
              </div>
              <div class="field">
                  <label class="label">Cor da Fonte: </label>
                  <p class="control">
                      <input id="optionFontColor" class="input" type="color" placeholder="Cor da Fonte" value="">
                  </p>
              </div>
            </p>
            <button class="button is-primary" style="float:right;" onclick="saveNewOption();"><span class="icon is-small"><i class="fa fa-save"></i></span>&nbsp;&nbsp;Salvar</button>
            <button class="button" onclick="closeModalOption();"><span class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp;&nbsp;Fechar</button>
          </div>
        </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>




<div class="container is-fluid">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p class="has-text-centered title is-2">Cadastro de Pesquisa </p>
    </div>
  </div>
    <input type="hidden" id="surveyInternalID" value="{{.survey.SurveyInternalID}}">
    <input type="hidden" id="surveyUserId" value="{{.user.Username}}">
    <div class="columns">
      <div class="column is-4 is-offset-4">
          <div class="field">
              <label class="label">Descrição: </label>
              <p class="control">
                  <input id="surveyDescription" class="input" type="text" placeholder="Descrição" required value="{{.survey.SurveyDescription}}">
              </p>
          </div>
          <div class="field">
              <label class="label">Totem: </label>
              <p class="control">
                  <input id="surveyTotem" class="input" type="text" placeholder="Totem" required value="{{.survey.SurveyTotem}}">
              </p>
          </div>
          <div class="field">
            <label class="label">Texto Inicial:</label>
            <p class="control">
              <textarea class="textarea" id="surveyInitialText" required placeholder="Texto Inicial">{{.survey.SurveyInitialText}}</textarea>
            </p>
          </div>
          <div class="field">
            <label class="label">Texto Final:</label>
            <p class="control">
              <textarea class="textarea" id="surveyFinalText" required placeholder="Texto Final">{{.survey.SurveyFinalText}}</textarea>
            </p>
          </div>
          <div class="field">
              <label class="label">Cor do Fundo: </label>
              <p class="control">
                  <input id="surveyBackgroundColor" class="input" type="color" placeholder="Cor do Fundo" required value="{{.survey.SurveyBackgroundColor}}">
              </p>
          </div>
          <div class="field">
              <label class="label">Cor da Fonte: </label>
              <p class="control">
                  <input id="surveyFontColor" class="input" type="color" placeholder="Cor da Fonte" required value="{{.survey.SurveyFontColor}}">
              </p>
          </div>
          <div class="field">
              <label class="label">Status:</label>
              <p class="control">
                  <span class="select">
                  <select id="surveyActive" required>
                      <option value="1" {{if .survey.SurveyActive}}{{if eq .survey.SurveyActive 1}}selected{{end}}{{end}}>Ativa</option>
                      <option value="0" {{if .survey.SurveyActive}}{{if eq .survey.SurveyActive 0}}selected{{end}}{{end}}>Inativa</option>
                  </select>
                  </span>
              </p>
          </div>
      </div>
    </div>
    <div class="columns"><div class="column is-4 is-offset-4"><label class="label" style="width:auto;float:left;">Perguntas:</label><a type="button" onclick="clearQuestionFields();" class="button is-primary tooltip modal-button" style="float:right" data-target="new-question-modal" ><span class="icon is-small"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Nova Pergunta<p>Cria uma nova pergunta.</p></a></div></div>
    <div class="columns">
      <div class="column is-10 is-offset-1 box">
          
          <table class="table is-striped is-narrow">
              <thead>
                  <tr>
                      <th width="7.5%"></th>
                      <th width="50%">Questão</th>
                      <th width="35%">Dica</th>
                      <th width="7.5%"></th>
                  </tr>
              </thead>
              <tbody id="body_tbl_questions">
                {{range $index, $element := .survey.SurveyQuestions}}
                <tr id="question_{{$index}}" data-question="{{$element.QuestionString}}">
                  <td><Group class='flex-row margin-auto'><button type='button' class='button tooltip' onclick="moveUp({{$index}});">&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-up'></i></span><p>Mover para cima</p></button>
                  <button type='button' class='button tooltip margin-left-10' onclick="moveDown({{$index}});">&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-down'></i></span><p>Mover para baixo</p></button></Group></td>
                  <td id="description_{{$index}}">{{$element.QuestionDescription}}</td>
                  <td id="tip_{{$index}}">{{$element.QuestionTip}}</td>
                  <td><Group class='flex-row margin-auto'><button type='button' class='button is-info tooltip modal-button' data-target='new-question-modal' onclick="editQuestion({{$index}});">&nbsp;&nbsp;<span class='icon'><i class='fa fa-pencil'></i></span><p>Editar</p></button>
                  <button type='button' class='button is-danger tooltip margin-left-10' onclick="removeQuestion({{$index}});">&nbsp;&nbsp;<span class='icon'><i class='fa fa-trash'></i></span><p>Excluir</p></button></Group></td>
                </tr>
                {{end}}
              </tbody>
          </table>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="field is-grouped">
          <p class="control block-center">
            <Group class="flex-row margin-auto">
              <button type="button" class="button block-center tooltip" onclick="window.location.href='/u/surveys';" ><span class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp;&nbsp;Cancelar<p>Voltar para a tela de listagem.</p></button>
              <button type="button" onclick="submitForm();" class="button is-primary block-center tooltip margin-left-10"><span class="icon is-small"><i class="fa fa-save"></i></span>&nbsp;&nbsp;Salvar<p>Salvar o registro.</p></button>
            </Group>
          </p>
        </div>
      </div>
    </div>
  <script>
    function submitForm(){
      var obj = {};
      obj["surveyInternalID"] = parseInt($("#surveyInternalID").val()) || 0;
      obj["surveyUserId"] = $("#surveyUserId").val(); 
      if($("#surveyDescription").val()==""){
        alert('É necessário informar a descrição da pesquisa!');
        return false;
      }
      if($("#surveyTotem").val()==""){
        alert('É necessário informar um identificador de totem para a pesquisa!');
        return false;
      }
      if($("#body_tbl_questions tr").length < 1){
        alert('É necessário informar ao menos uma pergunta para a pesquisa!');
        return false;
      }

      obj["surveyDescription"] = $("#surveyDescription").val(); 
      obj["surveyTotem"] = $("#surveyTotem").val(); 
      obj["surveyInitialText"] = $("#surveyInitialText").val(); 
      obj["surveyFinalText"] = $("#surveyFinalText").val(); 
      obj["surveyBackgroundColor"] = $("#surveyBackgroundColor").val(); 
      obj["surveyFontColor"] = $("#surveyFontColor").val(); 
      obj["surveyActive"] = parseInt($("#surveyActive").val()); 

      obj["surveyQuestions"] = [];
      //Questions
      $("#body_tbl_questions tr").each(function(key,value){
        question = $(value).data('question');
        question.questionString = "";
        obj["surveyQuestions"].push(question);
      });
      //console.log(obj);
      $.ajax({
        url: "/u/survey/save",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(obj),
        success:function(data) {
          window.location = "/u/surveys";
        }
      });
      return false;
    }

    /*Question*/
    function clearQuestionFields(){
      $("#questionDescription").val('');
      $("#questionTip").val('');
      $("#questionIDX").val('');
      $("#questionInternalID").val('0');
      $("#body_tbl_options").html('');
    }

    function saveNewQuestion(){
      var InternalID = parseInt($("#questionInternalID").val());
      var description = $("#questionDescription").val();
      var tip = $("#questionTip").val();
      if(description == ''){
        alert("É necessário informar uma descrição da pergunta");
        return;
      } 
      if($("#body_tbl_options tr").length < 2){
        alert("É necessário informar ao menos 2 opções para a pergunta");
        return;
      }
      var tmpObj = {};
      tmpObj["questionOptions"] = [];
      $("#body_tbl_options tr").each(function(key,value){
        tmpObj["questionOptions"].push($(value).data('option'));
      });
      tmpObj["questionDescription"] = description;
      tmpObj["questionInternalID"] = InternalID;
      tmpObj["questionTip"] = tip;

      var len = ($("#questionIDX").val() == '')?($("#body_tbl_questions tr").length):($("#questionIDX").val());
      
      if($("#questionIDX").val() == ""){
        $("#body_tbl_questions").append(""+
        "<tr id='question_"+len+"' data-question=''>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button tooltip' onclick='moveUp("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-up'></i></span><p>Mover para cima</p></button>"+
          "<button type='button' class='button tooltip margin-left-10' onclick='moveDown("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-down'></i></span><p>Mover para baixo</p></button></Group></td>"+
          "<td id='description_"+len+"'>"+description+"</td>"+
          "<td id='tip_"+len+"'>"+tip+"</td>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button is-info tooltip modal-button' data-target='new-question-modal' onclick='editQuestion("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-pencil'></i></span><p>Editar</p></button>"+
          "<button type='button' class='button is-danger tooltip margin-left-10' onclick='removeQuestion("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-trash'></i></span><p>Excluir</p></button></Group></td>"+
        "</tr>");
      } else {
        $("#description_"+len).html(tmpObj["questionDescription"]);
        $("#tip_"+len).html(tmpObj["questionTip"]);
      }
      $('#question_'+len).data('question',tmpObj);
      $('.modal-close').click();
      $("#questionDescription").val('');
      $("#questionTip").val('');
      $("#questionIDX").val('');
      $("#questionInternalID").val('0');
      $("#body_tbl_options").html('');
    }   

    function moveDown(idx){
      var actualData = $("#question_"+idx).data("question");
      var actualDescription = $("#description_"+idx).html();
      var actualTip = $("#tip_"+idx).html();
      if($("#question_"+parseInt(idx+1)).length> 0){
        var nextData = $("#question_"+parseInt(idx+1)).data("question");
        var nextDescription = $("#description_"+parseInt(idx+1)).html();
        var nextTip = $("#tip_"+parseInt(idx+1)).html();
        
        $("#question_"+idx).data("question",nextData);
        $("#description_"+idx).html(nextDescription);
        $("#tip_"+idx).html(nextTip);
        
        $("#question_"+parseInt(idx+1)).data("question",actualData);
        $("#description_"+parseInt(idx+1)).html(actualDescription);
        $("#tip_"+parseInt(idx+1)).html(actualTip);
        return true;
      } else {
        console.log('cannot move down!');
        return false;
      }
    }
    function moveUp(idx){
      var actualData = $("#question_"+idx).data("question");
      var actualDescription = $("#description_"+idx).html();
      var actualTip = $("#tip_"+idx).html();
      if($("#question_"+parseInt(idx-1)).length> 0){
        var nextData = $("#question_"+parseInt(idx-1)).data("question");
        var nextDescription = $("#description_"+parseInt(idx-1)).html();
        var nextTip = $("#tip_"+parseInt(idx-1)).html();
        
        $("#question_"+idx).data("question",nextData);
        $("#description_"+idx).html(nextDescription);
        $("#tip_"+idx).html(nextTip);
        
        $("#question_"+parseInt(idx-1)).data("question",actualData);
        $("#description_"+parseInt(idx-1)).html(actualDescription);
        $("#tip_"+parseInt(idx-1)).html(actualTip);
        return true;
      } else {
        console.log('cannot move up!');
        return false;
      }
    }

    function removeQuestion(idx){
      var flag = true;
      while(flag === true){
        flag = moveDown(idx);
        if(flag === true) idx = idx + 1;
      }
      var obj = $("#question_"+idx).data("question");
      var question = obj.questionInternalId;
      if(question!=0){
        ajax('DELETE',
        '/u/survey/question?questionInternalID='+question,
        {'questionInternalID':question},
        function(data){},function(data){var obj = JSON.parse(data.responseText);alert('Não foi possível excluir!\nErro: ' + obj.error);});
      }
      $("#question_"+idx).remove();
    }

    function editQuestion(idx){
      $("#body_tbl_options").html('');
      var question = $("#question_"+idx).data("question");
      $("#questionInternalID").val(question.questionInternalId);
      $("#questionDescription").val(question.questionDescription);
      $("#questionTip").val(question.questionTip);
      $("#questionIDX").val(idx);
      for(var i = 0;i<question.questionOptions.length;i++){
        $("#body_tbl_options").append(""+
        "<tr id='option_"+i+"' data-option='"+JSON.stringify(question.questionOptions[i])+"'>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button tooltip' onclick='moveOptionUp("+i+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-up'></i></span><p>Mover para cima</p></button>"+
          "<button type='button' class='button tooltip margin-left-10' onclick='moveOptionDown("+i+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-down'></i></span><p>Mover para baixo</p></button></Group></td>"+
          "<td id='option_color_"+i+"'><span class='tag' style='background-color:"+question.questionOptions[i].optionBackgroundColor+";color:"+question.questionOptions[i].optionFontColor+";border:1px solid "+question.questionOptions[i].optionFontColor+";'>ABC</span></td>"+
          "<td id='option_description_"+i+"'>"+question.questionOptions[i].optionDescription+"</td>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button is-info tooltip modal-button' data-target='new-option-modal' onclick='editOption("+i+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-pencil'></i></span><p>Editar</p></button>"+
          "<button type='button' class='button is-danger tooltip margin-left-10' onclick='removeOption("+i+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-trash'></i></span><p>Excluir</p></button></Group></td>"+
        "</tr>");
      }

      document.querySelector('meta[name="viewport"]').content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
      $('html').addClass("is-clipped");
      $("#new-question-modal").addClass("is-active");
    }

    function closeModal(){
        $("html").removeClass("is-clipped");
        $("#new-question-modal").removeClass("is-active");
        document.querySelector('meta[name="viewport"]').content = 'viewport" content="width=device-width, initial-scale=1';
    }  

    /*Option*/
    function clearOptionFields(){
      $("#optionDescription").val('');
      $("#optionTip").val('');
      $("#optionBackgroundColor").val('');
      $("#optionFontColor").val('');
      $("#optionIDX").val('');
      $("#optionInternalID").val('0');
    }

    function closeModalOption(){
        $("html").removeClass("is-clipped");
        $("#new-option-modal").removeClass("is-active");
        document.querySelector('meta[name="viewport"]').content = 'viewport" content="width=device-width, initial-scale=1';
    }
    function saveNewOption(){
      var InternalID = parseInt($("#optionInternalID").val());
      var description = $("#optionDescription").val();
      var backgroundColor = $("#optionBackgroundColor").val();
      var fontColor = $("#optionFontColor").val();
      if(description == ''){
        return;
      } 
      var tmpObj = {};
      tmpObj["optionDescription"] = description;
      tmpObj["optionInternalID"] = InternalID;
      tmpObj["optionBackgroundColor"] = backgroundColor;
      tmpObj["optionFontColor"] = fontColor;

      var len = ($("#optionIDX").val() == '')?($("#body_tbl_options tr").length):($("#optionIDX").val());
      
      if($("#optionIDX").val() == ""){
        $("#body_tbl_options").append(""+
        "<tr id='option_"+len+"' data-option=''>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button tooltip' onclick='moveOptionUp("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-up'></i></span><p>Mover para cima</p></button>"+
          "<button type='button' class='button tooltip margin-left-10' onclick='moveOptionDown("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-arrow-circle-o-down'></i></span><p>Mover para baixo</p></button></Group></td>"+
          "<td id='option_color_"+len+"'><span class='tag' style='background-color:"+backgroundColor+";color:"+fontColor+";border:1px solid "+fontColor+";'>ABC</span></td>"+
          "<td id='option_description_"+len+"'>"+description+"</td>"+
          "<td><Group class='flex-row margin-auto'><button type='button' class='button is-info tooltip modal-button' data-target='new-option-modal' onclick='editOption("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-pencil'></i></span><p>Editar</p></button>"+
          "<button type='button' class='button is-danger tooltip margin-left-10' onclick='removeOption("+len+");'>&nbsp;&nbsp;<span class='icon'><i class='fa fa-trash'></i></span><p>Excluir</p></button></Group></td>"+
        "</tr>");
      } else {
        $("#option_color_"+len+" span").css("background-color",tmpObj["optionBackgroundColor"]);
        $("#option_color_"+len+" span").css("border-color",tmpObj["optionFontColor"]);
        $("#option_color_"+len+" span").css("color",tmpObj["optionFontColor"]);
        $("#option_description_"+len).html(tmpObj["optionDescription"]);
      }
      $('#option_'+len).data('option',tmpObj);
      closeModalOption();
      $("#optionDescription").val('');
      $("#optionTip").val('');
      $("#optionBackgroundColor").val('');
      $("#optionFontColor").val('');
      $("#optionIDX").val('');
      $("#optionInternalID").val('0');
    }
    function removeOption(idx){
      var flag = true;
      while(flag === true){
        flag = moveOptionDown(idx);
        if(flag === true) idx = idx + 1;
      }
      var obj = $("#option_"+idx).data("option");
      var option = obj.optionInternalId;
      
      if(option!=0){
        ajax('DELETE',
        '/u/survey/option?optionInternalID='+option,
        {'optionInternalID':option},
        function(data){},function(data){var obj = JSON.parse(data.responseText);alert('Não foi possível excluir!\nErro: ' + obj.error);});
      }
      $("#option_"+idx).remove();
    }

    function editOption(idx){
      var option = $("#option_"+idx).data("option");
      $("#optionInternalID").val(option.optionInternalId);
      $("#optionDescription").val(option.optionDescription);
      $("#optionBackgroundColor").val(option.optionBackgroundColor);
      $("#optionFontColor").val(option.optionFontColor);
      $("#optionIDX").val(idx);
      document.querySelector('meta[name="viewport"]').content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
      $('html').addClass("is-clipped");
      $("#new-option-modal").addClass("is-active");
    }
    function moveOptionDown(idx){
      var actualData = $("#option_"+idx).data("option");
      var actualDescription = $("#option_description_"+idx).html();
      if($("#option_"+parseInt(idx+1)).length> 0){
        var nextData = $("#option_"+parseInt(idx+1)).data("option");
        var nextDescription = $("#option_description_"+parseInt(idx+1)).html();
        
        $("#option_"+idx).data("option",nextData);
        $("#option_description_"+idx).html(nextDescription);
        
        $("#option_"+parseInt(idx+1)).data("option",actualData);
        $("#option_description_"+parseInt(idx+1)).html(actualDescription);
        return true;
      } else {
        console.log('cannot move down!');
        return false;
      }
    }
    function moveOptionUp(idx){
      var actualData = $("#option_"+idx).data("option");
      var actualDescription = $("#option_description_"+idx).html();
      if($("#option_"+parseInt(idx-1)).length> 0){
        var nextData = $("#option_"+parseInt(idx-1)).data("option");
        var nextDescription = $("#option_description_"+parseInt(idx-1)).html();
        
        $("#option_"+idx).data("option",nextData);
        $("#option_description_"+idx).html(nextDescription);
        
        $("#option_"+parseInt(idx-1)).data("option",actualData);
        $("#option_description_"+parseInt(idx-1)).html(actualDescription);
        return true;
      } else {
        console.log('cannot move down!');
        return false;
      }
    }
  </script>
  {{end}}
{{ template "footer.html" .}}
