{{ template "header.html" .}}
{{if eq .payload.type "totemSelection"}}
<section class="hero ">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <p class="has-text-centered title is-1">Qual totem é este?</p>
              <div class="flex-row" style="display:block;">
              {{range .totems}}
                <a class="button is-info is-very-large full-width service-button is-outlined" href="/totem?id={{.}}">
                  <span class="icon is-large">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                  </span>
                  &nbsp;&nbsp;{{.}}
                  </a>
              {{end}}
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </section>
  
  <script>
    document.addEventListener('DOMContentLoaded', function(){ 
      //No footer in this display
      $('footer').remove();
      $('html').css('overflow','hidden');

      var qtdButtons = $('.service-button').length;
      if(qtdButtons == 2) {
        $('.service-button').css('height','40vh');
      } else if(qtdButtons == 3) {
        $('.service-button').css('height','25vh');
      } else if(qtdButtons == 4) {
        $('.service-button').css('height','20vh');
      } else if(qtdButtons == 5) {
        $('.service-button').css('height','15vh');
      } else if(qtdButtons >= 6 && qtdButtons <= 12) {
        $('.service-button').removeClass('full-width');
        $('.service-button').css('width','49%');
      } else {
        $('.service-button').removeClass('full-width');
        $('.service-button').css('width','');
      }
    });
  </script>
{{end}}
{{if eq .payload.type "survey"}}
  <section class="hero question-totem" id="first-slide" style="z-index:999;background-color:{{.survey.SurveyBackgroundColor}};">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <p class="has-text-centered title is-1" style="padding-top:10vh;color:{{.survey.SurveyFontColor}};">Pesquisa de Satisfação</p>
              <div class="flex-row" style="display:block;margin-top:10vh;">
                <p class="has-text-centered title is-1" style="color:{{.survey.SurveyFontColor}};">{{.survey.SurveyInitialText}}</p>
                <br/><br/><button class="button is-large is-primary block-center" id="button-start" style="min-width:25%;"><span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>&nbsp;&nbsp;Começar</button>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </section>
  {{range $i, $q := .survey.SurveyQuestions}}
  <section class="hero question-totem full-width" id="question_{{$i}}" style="padding-top:10vh;opacity:0;background-color:{{$.survey.SurveyBackgroundColor}};">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <p class="has-text-centered title is-1" style="color:{{$.survey.SurveyFontColor}};">
                {{$q.QuestionDescription}}</br>
                <span class="tip has-text-centered title is-3" style="color:{{$.survey.SurveyFontColor}};">{{$q.QuestionTip}}</span>

              </p>
              <div class="block-center has-text-centered margin-top-10 question-options">
              {{range $q.QuestionOptions}}
                <button data-index="{{$i}}" data-question="{{$q.QuestionInternalID}}" data-option="{{.OptionInternalID}}" class="button is-large button-option margin-5"  style="background-color:{{.OptionBackgroundColor}};border: 1px solid {{.OptionBackgroundColor}};color:{{.OptionFontColor}};">{{.OptionDescription}}</button>
              {{end}}
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  {{end}}

  <section class="hero question-totem full-width" id="end-slide" style="padding-top:10vh;opacity:0;background-color:{{.survey.SurveyBackgroundColor}};">
    <div class="hero-body no-padding-top">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <p class="has-text-centered title is-1" style="color:{{.survey.SurveyFontColor}};">
                {{.survey.SurveyFinalText}}
                <br/><br/>
                <button class="button is-large is-primary" id="button-submit" style="min-width:25%;"><span class="icon is-large"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;Enviar</button>
              </p>
            </div>
          </div>
        </div>
    </div>
  </section>
  <button class="button is-very-large margin-20 is-light" id="btn_back" style="position:fixed;z-index:1000;opacity:0;"><span class="icon is-large"><i class="fa fa-reply" aria-hidden="true"></i></span></button>

  <script src="/public/js/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script>
    document.body.style.backgroundColor = {{.survey.SurveyBackgroundColor}}
    document.body.style.color = {{.survey.SurveyFontColor}}
    document.body.style.lineHeight = 1;
    window.onload = function(){
      $('.hero').css('position','fixed'); 

      var QuestionAmount = 0;
      var ActualQuestion = 0;
      var Answers = {};
      Answers["surveyInternalId"] = {{.survey.SurveyInternalID}}
      
      $(".question-options").each(function(idx,value){
        var len = $(value).children(".button-option").length;
        $(".button-option").css('min-width',"50%");
        if($(value).children(".button-option").length > 7){
          $(value).children(".button-option").css('min-width',"25%");
        }
        QuestionAmount++;
      });
      QuestionAmount = $('.question-options').length;

      $("#button-start").click(function(){
        Answers["surveyQuestions"] = [];
        changeQuestion("first-slide","question_0");
        $("#btn_back").css('opacity',1);
        $(".button-option").removeClass("color-primary");
      });

      $(".button-option").click(function(){
        $(this).parent().children(".button-option").each(function(i,o){
          $(o).removeClass("color-primary");
        });
        $(this).addClass("color-primary");
        var idx = $(this).data("index");
        var question = $(this).data("question");
        var option = $(this).data("option");
        Answers["surveyQuestions"][idx] = {};
        Answers["surveyQuestions"][idx]["questionInternalId"] = question;
        Answers["surveyQuestions"][idx]["questionOptions"] = [];
        Answers["surveyQuestions"][idx]["questionOptions"][0] = {};
        Answers["surveyQuestions"][idx]["questionOptions"][0]["optionInternalId"] = option; 

        if(QuestionAmount-1 > ActualQuestion){
          changeQuestion("question_"+ActualQuestion,"question_"+(parseInt(ActualQuestion)+1));
          ActualQuestion++;
        } else {
          changeQuestion("question_"+ActualQuestion,"end-slide");
        }
        //console.log(Answers);
      });
      $("#btn_back").click(function(){
        if(ActualQuestion > 0){
          if($("#end-slide").css('opacity') == 1){
            changeQuestion("end-slide","question_"+ActualQuestion);
          } else {
            changeQuestion("question_"+ActualQuestion,"question_"+(parseInt(ActualQuestion)-1));
            ActualQuestion--;
          }
        } else {
          goToFirst("question_"+ActualQuestion);
        }
      });

      $("#button-submit").click(function(){
        $.ajax({
          url: "/totem/save",
          type: "POST",
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(Answers),
          success:function(data) {
            //goToFirst("end-slide");
            location.reload();
          },
          error:function(){
            alert("Um erro ocorreu ao salvar as respostas, por favor comunique a gerência!");
          }
        });
      });
    }

    function changeQuestion(from,to){
      $("#"+from).css('opacity',0);
      $("#"+from).css('z-index','1');
      $("#"+to).css('opacity',1);
      $("#"+to).css('z-index','999');
    }
    function goToFirst(from){
      changeQuestion(from,"first-slide");
      $("#btn_back").css('opacity',0);
    }
  </script>
{{end}}
