{{ template "header.html" .}}
{{ template "navbar" .}}
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p class="has-text-centered title is-2">Painel do Usuário</p>
    </div>
  </div>
  <div class="columns no-margin">
    <div class="column is-10 is-offset-1 block-center no-padding">
        <p class="has-text-centered"><b>Bem Vindo!</b><br/>
        Aplicativo Pesquisa de Satisfação. <br/>
        Comece usando as opções abaixo:</p>
    </div>
  </div>
  <div class="columns">
    {{define "admin-options"}}
    <div class="card margin-20">
      <header class="card-header">
        <p class="card-header-title">
          Administração
        </p>
        <div class="card-header-icon" style="cursor:default;">
          <span class="icon">
            <i class="fa fa-cog"></i>
          </span>
        </div>
      </header>
      <div class="card-content">
        <div class="content flex-column">
          <a class="block-center padding-bottom-20" href="/u/admin/users"><span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>&nbsp;Usuários</a>
        </div>
      </div>
    </div>
    {{end}}


    {{define "user-options"}}    
    <div class="card margin-20">
      <header class="card-header">
        <p class="card-header-title">
          Usuário
        </p>
        <div class="card-header-icon" style="cursor:default;">
          <span class="icon">
            <i class="fa fa-user-circle"></i>
          </span>
        </div>
      </header>
      <div class="card-content">
        <div class="content">
          <a class="block-center padding-bottom-20" href="/u/surveys"><span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>&nbsp;Pesquisas</a>
          <a class="block-center padding-bottom-20" href="/u/report"><span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>&nbsp;Relatórios</a>
          <!--a class="block-center padding-bottom-20" href="/ticket/operator"><span class="icon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>&nbsp;Operador</a-->
          <hr class="styled-hr"/>
          <a class="block-center padding-bottom-20" href="/totem" target="blank"><span class="icon"><i class="fa fa-building" aria-hidden="true"></i></span>&nbsp;Totem</a>
        </div>
      </div>
    </div>
    {{end}}
    <div class="column is-4 is-offset-4">
      <div class="has-text-centered margin-auto padding-20">
        {{if eq .role "admin"}}
          {{template "admin-options"}}
          {{template "user-options"}}
        {{else}}
          {{template "user-options"}}
        {{end}}
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" .}}
