{{ template "header.html" .}}
{{template "navbar" .}}
{{if eq .payload.type "list"}}
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p class="has-text-centered title is-2">Usuários </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-10 is-offset-1">
        <a type="button" class="button is-primary tooltip"  href="user/new"><span class="icon is-small"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Novo Usuário<p>Cria um novo usuário.</p></a>
        <table class="table is-striped is-narrow">
            <thead>
                <tr>
                    <th width="30%">Nome</th>
                    <th width="20%">Username</th>
                    <th width="20%">Email</th>
                    <th width="20%">Criado em</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
            {{range .users }}
                <tr id="user_{{.Username}}">
                    <td>{{.Name}}</td>
                    <td>{{.Username}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.CreatedAt}}</td>
                    <td>
                        {{if ne .Email "bplus@bplus.com.br"}}
                        <Group class="flex-row margin-auto">
                            <button type="button" class="button is-info tooltip" onclick="location.href='/u/admin/user/edit/{{.Username}}'">&nbsp;&nbsp;<span class="icon"><i class="fa fa-pencil"></i></span><p>Editar</p></button>
                            <button type="button" class="button is-danger modal-button tooltip margin-left-10" data-target="delete-modal" data-title="Exclusão de Usuário:" data-desc="Deseja realmente excluir o usuário com nome de usuário {{.Username}}?" data-func="ajax('DELETE','/u/admin/user?userUsername={{.Username}}',{'userUsername':'{{.Username}}'},function(data){document.getElementById('user_{{.Username}}').remove();$('.cancel-modal').click();},function(data){alert('Não foi possível excluir!');});">&nbsp;&nbsp;<span class="icon"><i class="fa fa-trash"></i></span><p>Excluir</p></button>
                        </Group>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
  </div>
</div>
{{template "modalDelete"}}
{{end}}
{{if eq .payload.type "crud"}}
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p class="has-text-centered title is-2">Cadastro de Usuário </p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4 is-offset-4">
      <form id="form-window" action="/u/admin/user/new" method="POST">
        <input type="hidden" name="isNew" value="{{.payload.isNew}}">
        <div class="field">
            <label class="label">Username: </label>
            <p class="control">
                <input name="userUsername" class="input" type="text" placeholder="Nome usado para o login." required value="{{.payload.userUsername}}" {{if eq .payload.isNew "false"}}readonly="readonly"{{end}}>
            </p>
        </div>
        <div class="field">
            <label class="label">Senha: </label>
            <p class="control">
                <input name="userPassword" class="input" type="password" placeholder="Senha" required value="{{.payload.userPassword}}">
            </p>
        </div>

        <div class="field">
            <label class="label">Nome: </label>
            <p class="control">
                <input name="userName" class="input" type="text" placeholder="Nome" required value="{{.payload.userName}}" >
            </p>
        </div>
        <div class="field">
            <label class="label">Email: </label>
            <p class="control">
                <input name="userEmail" class="input" type="email" placeholder="Email" value="{{.payload.userEmail}}">
            </p>
        </div>
        <div class="field">
          <p class="control">
            <label class="checkbox" title="Define se o usuário será administrador e terá acesso a todos os cadastros.">
              <input type="checkbox" name="userAdmin" value="admin" {{if .payload.userAdmin}}{{if eq .payload.userAdmin "admin"}}checked{{end}}{{end}}>
              Administrador
            </label>
          </p>
        </div>
        <div class="field is-grouped">
            <p class="control block-center">
                <Group class="flex-row margin-auto">
                    <button type="button" class="button block-center tooltip" onclick="window.location.href='/u/admin/users';" ><span class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp;&nbsp;Cancelar<p>Voltar para a tela de listagem.</p></button>
                    <button type="submit" class="button is-primary block-center tooltip margin-left-10"><span class="icon is-small"><i class="fa fa-save"></i></span>&nbsp;&nbsp;Salvar<p>Salvar o registro.</p></button>
                </Group>
            </p>
        </div>
      </form>
    </div>
  </div>
  {{end}}
{{ template "footer.html" .}}
